/* public-sans-regular - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/public-sans-v14-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/public-sans-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* public-sans-700 - latin */
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/public-sans-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/public-sans-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Public Sans", 'sans-serif';
    background: #EDF3F8;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    /* background: #EDF3F8; */
}


.site-header {
    margin: 45px 0 74px 0;
}

.site-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__left {
    display: flex;
    align-items: center;
}

.site-header__list {
    display: flex;
    align-items: center;
}

.site-header__item {
    margin-left: 40px;
}

.site-header__link {
    transition: color 0.5s;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #3c5061;
    mix-blend-mode: normal;
    opacity: 0.7;
}

.site-header__link:hover {
    color: #09025a;
}

.site-header__right-link {
    transition: background 0.5s;
    padding: 16px 24px 14px 26px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
    /* background: #4362e9; */
    background: #95a1aa;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 24px;
}

.site-header__right-link:hover {
    background: rgb(64, 90, 217);
}

.start-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
}

.start-left {
    width: 546px;
}

.start-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -0.553846px;
    color: #36536B;
    margin-bottom: 31px;
}

.start-box {
    margin-bottom: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FBFCFE;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 50px;
}

.start-input {
    padding-left: 20px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: none;
    outline: none;
}

.start-text {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #36536B;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.start-link {
    transition: background 0.5s;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
    padding: 16px 24px 14px 26px;
    background: #95a1aa;
    border-radius: 24px;
    /* margin-left: 122px; */
}

.start-link:hover {
    background-color: #2e404f;
}

.start-text_us {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #6C8294;
}

.start-bitmap {
    margin-right: -330px;
    margin-top: -156px;
}

.start-iphone {
    margin-top: 49px;
    margin-right: -0px;
}

.start-len {
    display: flex;
}

.work {
    background: #1B262F;
}

.work-wrapper {
    display: flex;
    align-items: center;
    padding: 90px 5px 90px 5px;
}

.work-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #FBFCFE;
    margin-bottom: 24px;

}

.work-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FBFCFE;
    mix-blend-mode: normal;
    opacity: 0.7;
    margin-bottom: 32px;
    margin-right: 131px;
}

.work-link {
    transition: background 0.5s;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #FBFCFE;
    border: 1px solid #FBFCFE;
    border-radius: 24px;
    padding: 16px 32px 14px 32px;
}

.work-link:hover {
    background: #2d3f4e;
}

.work-right {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 30px;
    align-items: center;
    text-align: center;
    /* margin-bottom: 117px; */
}

.easy-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.easy-title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536B;
    margin-bottom: 24px;
}

.easy-text {
    width: 445px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
}

.simple-wrapper {
    display: flex;
    align-items: center;
}

.simple-title {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536B;
    margin-bottom: 24px;
    width: 445px;
}

.simple-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
}

.simple-right {
    display: flex;
}



.info-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-bottom: 100px;
}

.info-box {
    text-align: center;
}

.info-img {
    margin-bottom: 32px;
}

.info-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.138462px;
    color: #36536B;
    margin-bottom: 16px;
}

.info-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.115385px;
    color: #6C8294;
}

.info-ready {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.info-ready__title {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369231px;
    color: #36536B;
}

    .footer{
        background-color: #1B262F !important;
    }

.fotter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 31px;
}

.fotter-left {
    display: flex;
}

.fotter-list {
    display: flex;
    align-items: center;
}

.fotter-item {
    margin-left: 40px;
}

.fotter-right {
    display: flex;
    align-items: center;
}

.fotter-link {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FBFCFE;
    mix-blend-mode: normal;
    opacity: 0.7;
}


.fotter-img {
    margin-left: 10px;
}